<mat-toolbar>
   <span class="mat-h1" style="margin-bottom: 0px;"> Angular Speed: aplicaciones de alto rendimiento </span>
</mat-toolbar>

<router-outlet></router-outlet>
<!--<div>
  <app-search></app-search>
</div>
<app-home></app-home>-->

<footer>
    <mat-toolbar fxLayoutAlign="space-between center">
      <mat-toolbar-row class="mat-small">
        <a href="https://trainingit.es/" >Training IT</a>
        <small>A course By <a href="https://twitter.com/albertobasalo">Alberto Basalo</a></small>
      </mat-toolbar-row>
    </mat-toolbar>
  
</footer>
